.base-container {
  position: relative;
  display: flex;
  /* justify-content: space-between; */
  justify-content: left;
}

.zoom-container {
  position: fixed;
  bottom: 0;
  right: 5%;
  /* padding: 2px; */
  font-size: 14px;
  display: flex;
  gap: 5px;
  z-index: 10;
}

.canvas-container {
  border: 1px solid black;
}

.element-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.shapes {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.shape {
  margin: 10px;
  height: 100px;
  width: 150px;
  border: solid 2px black;
}


.shape-container {
  min-height: 40px;
}

.circle {
  width: 100px;
  border-radius: 50%;
}

.line {
  width: 100px;
  height: 2px;
  background-color: black;
}

button {
  text-align: center;
  /* font-size: 13px; */
  text-decoration: none;
  font-weight: 700;
  padding: 3px 6px;
  background: #eaeef1;
  display: block;
  width: 30px;
  margin: 20px auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .1));
  border-radius: 3px;
  color: rgba(0, 0, 0, .6);
  text-shadow: 0 1px 1px rgba(255, 255, 255, .7);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .2), 0 1px 2px rgba(0, 0, 0, .2), inset 0 1px 2px rgba(255, 255, 255, .7);
}

button:hover,
button.hover {
  background: #fff;
}

button:active,
button.active {
  background: #d0d3d6;
  background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .2), inset 0 2px 5px rgba(0, 0, 0, .2), 0 1px rgba(255, 255, 255, .2);
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 15px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;

}

.card {
  margin: 5px 5px 30px 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px green;

  width: calc(50% - 10px);
}

.card-text {
  margin-bottom: 10px;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 20px;
}

.btn-primary {
  background-color: #008CBA;
  border-color: #0f3c4b;
  color: #fff;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #006E8C;
  border-color: #0f3c4b;
  color: #fff;
  font-weight: bold;
}